@font-face {
    font-family: OpenSans-SemiBold;
    src: url('../../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../../fonts/OpenSans-Regular.ttf');
}

